body{
    background: cornsilk; 
    padding: 0; 
    margin: 0;
}
.header-title{

    background-color: coral; 
    color: cornsilk; 
    padding: 20px;

}
    
.article-box{
    float: left; background: darkgray;
     padding: 10px; 
     width: 100%; 
     box-sizing: border-box;
}
.text-center{
        text-align: center;

}
.column-50{
    width: 50%;
    float: left;
}
.clear{
    clear: both;
}
.text-right{
    text-align: right;
}
.footer{
    background: rosybrown; padding: 20px; clear: both;

}